@use "./base/mixins" as *;
@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
@use "../icons/style.css";

html {
  font-size: 62.5%;
}

$strongcyan: hsl(172, 67%, 45%);
$verydarkcyan: hsl(183, 100%, 45%);
$darkgrayishcyan: hsl(186, 14%, 43%);
$grayishcyan: hsl(184, 14%, 56%);
$lightgrayishcyan: hsl(185, 41%, 84%);
$verylightgrayishcyan: hsl(189, 41%, 97%);
$white: white;

body {
  margin: 10px;
  background-color: $white;
  padding: 135px, 170px;
  div {
    background-color: $lightgrayishcyan;
    padding-right: 79px;
    padding-left: 79px;
  }
}
